<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .delete{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
}
.delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
    </style>
</head>
<body>
    <div>
    <h2> Patients info</h2>
            <a>
                 <h3>Name:<%=patient.firstName%>  &nbsp;<%=patient.lastName%> <br>
                    username:<%=patient.username%> <br>
                    mobile:<%=patient.mobile%> <br>
                    dob:<%=patient.dob%> <br>
                    gender:<%=patient.gender%> <br>
                 </h3>
            </a>

            <a class="delete" data-doc="<%= patient._id %>">delete</a><br>

        <a href="/Admin">
            HOME </a>
   
    </div>

    <script>
        const del = document.querySelector('a.delete');

del.addEventListener('click', (e) => {
    const endPoint = `/Admin/deletePatient/${del.dataset.doc}`;

    fetch(endPoint, {
        method: 'DELETE'
    })
    .then((response) => response.json())
    .then((data) => window.location.href = data.redirect)
    .catch((err) => console.log(err));
})
    </script>
</body>
</html>