<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h2>Pharmacist info</h2>
 
      
            <a>
                <h3>Name: <%=pharmacist.firstName%>  &nbsp; <%=pharmacist.lastName%> <br>
                    Dob: <%=pharmacist.dob%><br>
                    username: <%=pharmacist.username%><br>
                    email: <%=pharmacist.email%><br>
                    rate: <%=pharmacist.rate%><br>
                    affiliation: <%=pharmacist.affiliation%><br>
                    education: <%=pharmacist.education%><br>
                    status: <%=pharmacist.status%><br>

                </h3>
            </a>
            <a href="/Admin %>">
                HOME </a>
   
    </div>
</body>
</html>