<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>
        <h2>Meds sales and quantity</h2>

        <% if (meds.length > 0) { %>

            <table>
                <tr>
                    <th>Name&nbsp;</th>
                    <th>Sales&nbsp;</th>
                    <th>Quantity &nbsp;</th>

                 </tr>

                <% meds.forEach(med => { %>
                
                    <tr>
                        <td><%= med.name %></td>
                         <td><%= med.sales %></td>
                        <td><%= med.quantity %></td>
                    <!-- el two fuctions fe nafs el makan -->
                        <!-- <td><%=  med.sales%></td>
                        <td><%= med.quantity%></td>

                        -->
                    </tr>
                    <!-- <a href="/Pharmacist/<%= med.id %>">
                        <h3 style="margin: 0;"><%= med.picture %></h3>
                        <h4 style="margin: 0;"><%= med.price %></h4>
                        <h5 style="margin: 0; margin-bottom: 100px;"><%= med.description %></h5>
                    </a> -->

                <% }); %>
            
            </table>

        <% } else { %>

            <p>There are no meds to display...</p>

        <% } %>
        <a href="/Pharmacist %>">
            HOME </a>
    </div>
</body>
</html>